.recipe_details_body {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.recipe_details_container {
  display: flex;
  font-display: row;
  width: 80%;
  margin-top: 4rem;
}
.image_container {
  width: 40%;
  height: max-content;
  margin-right: 3rem;
  position: relative;
  display: flex;
  align-items: flex-start;
}

.recipe_image {
  width: 100%;
  object-fit: contain;
  backface-visibility: hidden;
}

.favorite_hearth_container {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 100px;
  color: red;
}

.image_container:hover .favorite_hearth_container {
  opacity: 1;
}
.image_container:hover .recipe_image {
  opacity: 0.3;
}

.information_container {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-bottom: 2rem;
}
.title {
  margin-bottom: 2rem;
}
.prep_serv_container {
  display: flex;
  font-display: row;
  margin-bottom: 2rem;
}
.prep_serv_container p {
  margin-right: 15px;
}
.instructions_title {
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 850px) {
  .recipe_details_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .image_container {
    width: 40%;
    margin-bottom: 1rem;
  }
  .title {
    text-align: center;
  }
  .prep_serv_container {
    justify-content: center;
  }
  .instructions_title {
    text-align: center;
  }
}
