.title_container {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.title_container_title {
  margin-right: auto;
  margin-left: 10%;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 10px;
}

.nav {
  margin-left: auto;
  margin-right: auto;
}
.nav_link {
  margin-left: 4px;
  margin-right: 4px;
}

.nav_link :-webkit-any {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
@media only screen and (max-width: 1061px) {
  .title_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
  }
  .title_container_title {
    text-align: center;
    margin: 20px auto 20px auto;
  }
}
